header{
    display: flex;
    justify-content: space-between;
}

div.userName{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

div.userName img{
    width: 250px;
    margin-left: 50px;
    margin-right: 25px;
}

div.userData{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid rgb(134, 5, 160);
    border-right: 1px solid rgb(134, 5, 160);
    width: 800px;
    height: 300px;
    margin-top: 70px;
}

div.userData ul{
    list-style: none;
}

div.userData ul li h1{
    margin-bottom: 20px;
}

div.userData p{
    line-height: 30px;
}

div.userSettings{
    margin-right: 50px;
}

div.userSettings ul{
    list-style: none;
    display: flex;
}

div.userSettings ul li{
    margin-right: 20px;
    cursor: pointer;
}

div.more{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    justify-content: space-evenly;
}

div.more button{
    width: 150px;
}

div.more button:last-child{
    background-color: red;
}